
.not-found {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found h1 {
    font-size: 120px;
}

.not-found a {
    text-decoration: none;
    background-color: #116feb;
    color: white;
    margin-top: 14px;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.5s;
}
